<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Matt Chowning">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Matt Chowning - Home</title>

    <!-- <link href="atom.xml" type="application/atom+xml" rel="alternate" title="mattchowning.com Atom Feed" /> -->
    <!-- <link href="https://github.com/mchowning" /> -->
    <!-- <link href="https://twitter.com/mchowning" /> -->
    <!-- <link href="mailto:chowningmatt@gmail.com" /> -->

    <!-- fonts from fonts.google.com -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Lato" rel="stylesheet">

    <!-- sensible default styles -->
    <link rel="stylesheet" href="css/normalize.css" />

    <!-- pretty custom styles -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- code styles -->
    <link rel="stylesheet" href="css/code.css" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <meta name="keywords"  content="Matt Chowning,Matthew Chowning,blog,programming,android,haskell,personal,homepage" />
    <meta name="description"  content="Perosnal home page of Matt Chowning" />

    <!-- Open Graph properties -->
    <!-- <meta property="og:title" content="{{ page.title }}" /> -->
    <!-- <meta property="og:url" content="{{site.url}}{{ page.url }}" /> -->
    <!-- <meta property="og:description" content="{% if page.excerpt != nil %}{{page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}" /> -->
    <!-- <meta property="og:locale" content="en_UK" /> -->
    <!-- <meta property="og:type" content="article" /> -->
  </head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57944772-5"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-57944772-5');
  </script>


  <body>


    <header>

      <div id="banner"/>

      <h1><a href="index.html">Matt Chowning</a></h1>

      <div id="social" >

        <ul>
            <li><a href="https://twitter.com/mchowning"><i class="fab fa-twitter"/></a></li>
            <li><a href="https://github.com/mchowning"><i class="fab fa-github"/></a></li>
            <li><a href="mailto:chowningmatt@gmail.com"><i class="fas fa-envelope"/></a></li>
        </ul>

      </div>

      <!-- <nav> -->
      <!-- <ul> -->
      <!-- <li><a href="/archives.html">XXXArchivesXXX</a></li> -->
      <!-- <li><a href="/projects.html">XXXProjectsXXX</a></li> -->
      <!-- </ul> -->
      <!-- </nav> -->

    </header>

    $body$

    <footer>
      <p>&copy; Matt Chowning 2018.</p>
      <p>
        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Some rights reserved</a>.
      </p>
      <p>Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>.</p>
    </footer>

  </body>
</html>
